*{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #3e26c9, #ef5baa);
}

header{
  text-align: center;
  padding: 16px;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.container{
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card{
  background: white;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.form-card{
  width: 320px;
}

.events-card{
  flex: 1;
}

.card h3{
  color: #5b6ef5;
  margin-bottom: 14px;
}

label{
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input, select, textarea{
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-top: 4px;
}

textarea{
  resize: none;
  height: 70px;
}

button{
  background: linear-gradient(to right, #6a5acd, #7b68ee);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.form-card button{
  width: 100%;
  margin-top: 14px;
}

.actions{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.actions button{
  flex: 1;
}

#emptyMsg{
  color: #888;
  font-size: 14px;
}

.event{
  background: #f4f6f8;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}